<!doctype html>

<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template">
	<meta charset="utf-8" dir="rtl">
    <head>
        
        <title th:text="#{ChangePassword}">ChangePassword</title>
        <th:block th:replace=fragements/style></th:block>
        
        <!-- keyboard resources -->
         
        
		  
		  
		  
		  
		 
        
    </head>
    <body>
       <div id="cssLoader3" class="preloder-wrap" >
            <div class="loader">
                <div class="child-common child4"></div>
                <div class="child-common child3"></div>
                <div class="child-common child2"></div>
                <div class="child-common child1"></div>
            </div>
        </div>
        <div class="search-area" data-th-replace="fragements/search::recherche"></div>
      
		<header class="header-area" id="sticky-header">
			<div class="container" data-th-replace="fragements/header::entete"></div>
		</header>
        <div class="breadcumb-area black-opacity bg-img-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcumb-wrap">
                            <h2 th:text="#{ChangePassword}">ChangePassword</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcumb-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="/" th:text="#{accueil}" >Accueil</a></li>
                                <li>/</li>
                                <li th:text="#{ChangePassword}">ChangePassword</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcumb-area end -->

        <!-- contact-area start -->
        <div class="contact-area ptb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-wrap form-style">
                        <div style="display:inline;"th:attr="dir=#{direction}" >
                            <h3 th:text="#{formulaire}">Veuillez remplir le formulaire suivant :</h3>
                            <h4 style="color:red" th:text="#{obligatoire}">*(tous les champs sont obligatoires)</h4>
                            </div>
                            	<div class="cf-msg"></div>
                            
                              		<form class="form-horizontal" role="form" method="post" th:action="@{saveChangePassword}">
					                    
					                    <div th:if="${changePassword}">
                    					<div class="alert alert-success" th:text="#{changePassword}">
                        					Mot de passe bien changé
                    					</div>
                					</div>
                					
					                    <div class="col-sm-12 col-xs-12" th:attr="dir=#{direction}">
					                        <label for="pass3" class="control-label" th:text="#{oldPass}">ancien mot de passe</label>
					                            <input type="password" class="form-control" id="pass3"
					                                name="oldPass" placeholder="" value="" pattern="^\S{6,}$" required
					                                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'La confirmation doit etre identique au mot de passe' : '');"/>
					                    <span class="col-sm-12 col-xs-12 text-danger" th:if="${errOldPass}" th:text="#{errOldPass}" ></span>
					                    </div>
					                    
					                    <div class="col-sm-12 col-xs-12" th:attr="dir=#{direction}">
					                        <label for="pass" class="control-label" th:text="#{mdp}">Mot de passe :</label>
					                            <input type="password" class="form-control" id="pass" name="newPass"
					                                placeholder="" value="" pattern="^\S{6,}$" required 
					                                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Le mot de passe doit etre au moins 6 caractères' : ''); if(this.checkValidity()) form.pass2.pattern = this.value;"/>
					                    </div>
					                    
					                    <div class="col-sm-12 col-xs-12" th:attr="dir=#{direction}">
					                        <label for="pass2" class="control-label" th:text="#{confirmationMDP}">confirmation de mot de passe :</label>
					                            <input type="password" class="form-control" id="pass2"
					                                name="confirmPass" placeholder="" value="" pattern="^\S{6,}$" required
					                                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'La confirmation doit etre identique au mot de passe' : '');"/>
					                    <span class="col-sm-12 col-xs-12 text-danger" th:if="${errConfirmPass}" th:text="#{errConfirmPass}" ></span>
					                    </div>
					                    
					                    <div style="display: flex;flex-direction: row;" class="col-sm-12 col-xs-12" th:attr="dir=#{direction}">
					                    <label for="massar" class="col-sm-4 col-xs-12" th:text="#{saisirCaptcha}">Saisir le Captcha :</label>
					                    <img class="col-sm-3 col-xs-12" th:src="${captcha.captchaImage}"/>
					                    <input th:field="${captcha.userString}" type="text" class="col-sm-3 col-xs-12" maxlength="10"/>
					                    </div>
					                    <div align="right">
					                    <span class="col-sm-12 col-xs-12 text-danger" th:text="${captchaError}" ></span>
					                    </div>
					                    <div style="text-align: center;" class="col-sm-12 col-xs-12" th:attr="dir=#{direction}">
					                
					             <button id="button" type="submit" class="btn btn-success"
					                    style="margin-top: 100px;"  th:text="#{valider}">VALIDER</button>       
					            </div>
					                    
               				 </form>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            

    <footer>
			<div data-th-replace="fragements/footer::basdepage"></div>
		</footer>
		<!-- jQuery -->
    	<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>	
		<th:block th:replace=fragements/script></th:block>
    </body>
</html>
