<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <title>FAR</title>
    <th:block th:replace=fragements/style></th:block>
</head>
</head>


<body>
<div class="container">

    <div class="search-area" data-th-replace="fragements/search::recherche"></div>

    <header class="header-area" id="sticky-header">
        <div class="container" data-th-replace="fragements/header::entete"></div>
    </header>
    <br/><br/><br/><br/><br/><br/>
    <h4 th:utext="${message}" align="center"></h4>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <div align="center"><a type="button" class="btn btn-primary" th:text="${lienTitre}" th:href="${lien}"></a><br/><br/>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <br/><br/>
</div>
<footer>
    <div data-th-replace="fragements/footer::basdepage"></div>
</footer>

<th:block th:replace=fragements/script></th:block>
</body>

</html>