<div class="slider-active dotate-style slider-next-prev-style" data-th-fragment="slides">
				<div class="slider-items">
					<img src="/images/slider/1.jpg" alt="" class="slider">
					<div class="slider-content text-center">
						<div class="table">
							<div class="table-cell">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-8 col-md-offset-2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-items">
					<img src="/images/slider/5.jpg" alt="" class="slider">
					<div class="slider-content text-center">
						<div class="table">
							<div class="table-cell">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-8 col-md-offset-2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-items">
					<img src="/images/slider/3.png" alt="" class="slider">
					<div class="slider-content text-center">
						<div class="table">
							<div class="table-cell">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-8 col-md-offset-2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="slider-items">
					<img src="/images/slider/2.jpg" alt="" class="slider">
					<div class="slider-content text-center">
						<div class="table">
							<div class="table-cell">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-8 col-md-offset-2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-items">
					<img src="/images/slider/8.png" alt="" class="slider">
					<div class="slider-content text-center">
						<div class="table">
							<div class="table-cell">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-8 col-md-offset-2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>